{% extends 'schedule_with_controls.html' %}

{% load static %}

{% block extra-links %}
<link rel="stylesheet" type="text/css" href="{% static "edit_free_time.css" %}">
{% endblock %}

{% block js %}
<script type="text/JavaScript" src="{% static "edit_free_time.js"%}"></script>
{% endblock %}

{% block controls %}
<div id="title-container">
    <h1 id="title">Edit Free Time</h1>
</div>
<div style="margin-top: 50%;">
    <form id="time-block-form">
        {{ form.as_p }}
        <button id="add-time-block-button" type="button" class="btn btn-info">Add Time-Block</button>
    </form>
</div>
{% endblock%}
