{% extends 'base.html' %}
{% load static %}

{% block links%}
<link rel="stylesheet" type="text/css" href="{% static "centered_container.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "manage_groups.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "create_group.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "search_bar.css" %}">
{% endblock%}

{% block asv%}
<div class="centered-container">
  <div id="main-row" class="row-fluid">
    <div id="owned-groups-container" class="col-xs-3">
      <div id="owned-groups-title-container" class="col-title-container">
        <h1 class="col-title">Groups where you are: <i><b>owner</b></i></h1>
      </div>
      <div id="owned-groups-list" class="list-group">
      </div>
    </div>
    <div id="member-of-groups-container" class="col-xs-3">
      <div id="member-of-groups-title-container" class="col-title-container">
        <h1 class="col-title">Groups where you are: <i><b>member</b></i></h1>
      </div>
      <div id="member-of-groups-list">
      </div>
    </div>
    <div id="group-options-container" class="col-xs-6">
      <div id="group-options-title-container" class="col-title-container">
        <h1 class="col-title">Options</h1>
      </div>
      <div id="group-options">
        <div id="member-options" class="hidden">
          <div class="row-fluid">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <button id="leave-group-button" class="btn btn-danger">Leave Group</button>
            </div>
          </div>
        </div>
        <div id="owner-options" class="hidden">
          <form id="member-search-form" class="search-form" onsubmit="event.preventDefault();">
            <div class="form-group row">
              <div class="col-md-4 sf-col">
                <label id="search-bar-label" for="search-bar">Invite Someone!</label>
              </div>
              <div class="col-md-8 sf-col">
                <input id="search-bar" type="text" placeholder="Search.." style="display: flex;" autocomplete="false"/>
                <ul id="user-list" class="search-results hidden" style="position: relative;">
                </ul>
                <button id="invite-member-button" type="button" class="btn btn-primary">Invite</button>
              </div>
            </div>
          </form>
          <form id="group-edit-form">
            {% include 'form.html' with form=group_edit_form %}
            <div id="edit-group-button-container">
              <button id="save-group-edits-button" type="button" class="btn btn-success">Save</button>
              <button id="cancel-group-edits-button" type="button" class="btn btn-default">Cancel</button>
            </div>
          </form>
          <button id="disband-group-button" class="btn btn-danger">Disband</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock%}


{% block js%}
  <script type="text/JavaScript" src="{% static "manage_groups.js" %}"></script>
{% endblock%}
