{% extends 'base.html' %}
{% load static %}

{% block links%}
<link rel="stylesheet" href="{% static 'form.css'%}">
<link rel="stylesheet" href="{% static 'centered_form.css'%}">
<link rel="stylesheet" href="{% static 'profile.css'%}">
{% endblock%}
{% block js%}
{% endblock%}
{% block asv%}
<div id="container" class="col-xs-4 col-xs-offset-4">
   <form method="post" class="form-horizontal">
       {% include 'form.html' with form=user_form %}
       {% include 'form.html' with form=password_form%}
       {% include 'form.html' with form=member_form %}
       <div id="button-group">
          <button type="submit" class="btn btn-info">Edit Profile</button>
       </div>
   </form>
</div>
{% endblock%}

