<table class="schedule-table">
    <tr id="header-row">
        <th id="Time" class="undecorated-cell"></th>
        <th id="Monday" class="day-header">Mon.</th>
        <th id="Tuesday" class="day-header">Tue.</th>
        <th id="Wednesday" class="day-header">Wed.</th>
        <th id="Thursday" class="day-header">Thu.</th>
        <th id="Friday" class="day-header">Fri.</th>
        <th id="Saturday" class="day-header">Sat.</th>
        <th id="Sunday" class="day-header">Sun.</th>
    </tr>
    <tr id="row-1" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">0</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-2" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">1</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-3" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">2</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-4" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">3</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-5" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">4</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-6" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">5</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-7" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">6</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-8" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">7</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-9" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">8</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-10" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">9</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-11" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">10</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-12" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">11</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-13" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">12</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-14" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">13</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-15" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">14</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-16" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">15</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-17" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">16</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-18" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">17</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-19" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">18</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-20" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">19</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-21" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">20</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-22" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">21</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-23" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">22</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
    <tr id="row-24" class="hour-row">
      <td class="undecorated-cell">
        <div class="hour-label">23</div>
      </td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
        <td class="hour-container"></td>
    </tr>
</table>
