{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'form.css'%}">
<link rel="stylesheet" href="{% static 'centered_form.css'%}">
<link rel="stylesheet" href="{% static 'signup.css'%}">
{% endblock %}

{% block asv %}
<div id="container" class="col-xs-4 col-xs-offset-4">
  <form method="post" class="form-horizontal">
    {% include 'form.html' %}
    <hr>
    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>
{% endblock %}
