{% extends 'base.html' %}
{% load static %}

{% block links%}
<link rel="stylesheet" type="text/css" href="{% static "centered_container.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "view_notifications.css" %}">
{% endblock%}

{% block asv%}
<div class="centered-container">
  <div id="main-row" class="row-fluid">
    <div id="notification-list-container" class="col-xs-4">
      <div id="notification-list-title-container">
        <h1 id="notification-list-title">Inbox</h1>
      </div>
      <div id="notification-list">
      </div>
    </div>
    <div id="notification-menu-container" class="col-xs-5">
      <div id="notification-menu-title-container">
        <h1 id="notification-menu-title">Options</h1>
      </div>
      <div id="notification-menu">
        <div id="invitation-options" class="hidden">
          <h1 id="invitation-options-message">You have been invited to join</h1>
          <div id="invitation-option-button-group" class="row-fluid">
            <span id="invitation-button-message"></span>
            <button id="invitation-accept-button" class="btn btn-success pull-left">Accept</button>
            <button id="invitation-decline-button" class="btn btn-danger pull-left">Decline</button>
          </div>
        </div>
        <div id="invitation-accepted-message" class="hidden">
          <h1>Hi</h1>
        </div>
        <div id="invitation-declined-message" class="hidden">
          <h1>Mom</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block js%}
<script type="text/JavaScript" src="{% static "view_notifications.js" %}"></script>
{% endblock%}

