<!DOCTYPE html>
<html>
<head>
  <title>Squiddle</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Qwigley:300,400,700' rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "squiddle_app/full_page.css" %}">
</head>
<body onload="init()">
  <header>
    <div id="header-container" class="row container-fluid">
      <div id="left-justify" class="col-md-4">
        <button id="action-menu-button" class="col-md-4 header-icon">
          <img src="{% static "squiddle_app/hamburger.png" %}"></img>
        </button>
      </div>
      <h1 id="title" class="col-md-4 text-center">Squiddle</h1>
      <div id="right-justify" class="col-md-4">
        <button id="notification-display-button" class="header-icon">
          <img src="{% static "squiddle_app/cog.png" %}"></img>
        </button>
        <button id="meta-action-menu-button" class="header-icon">
          <img src="{% static "squiddle_app/cog.png" %}"></img>
        </button>
      </div>
    </div>
  </header>
  <div>
    <div id="action-menu" class="hidable invisible">
      <ul id="action-list">
        <li class="action">Edit Free Time</li>
        <li class="action">Create Group</li>
        <li class="action">Manage Groups</li>
        <li class="action">View Schedules<li>
      </ul>
    </div>
  </div>
  <div>
    <div id="notification-display" class="hidable invisible">
      <ul id="notification-list">
        <li class="notification">Sample Notification</li>
      </ul>
    </div>
  </div>
  <div style="horizontal-align: right">
    <div id="meta-action-menu" class="hidable invisible">
      <ul id="meta-action-list">
        <li class="meta-action">Sample Meta-Action</li>
      </ul>
    </div>
  </div>
  <div id="asv-container">
  </div>
</body>
  {% load static %}
  <script type="text/JavaScript" src="{% static "squiddle_app/full_page.js" %}"></script>
</html>

